# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json("/home/paritosh/Downloads/Intern/Paritosh_Bangalore_newZ_9.json")

In [3]:
df.columns

Index(['Unnamed: 0', 'links', 'names', 'ratings', 'price for one', 'crusine',
       'Veg_menu', 'Non_veg_menu', 'Delivery_Reviews', 'No_Delivery_Reviews'],
      dtype='object')

### removing extra from strings

In [4]:
df.drop(['Unnamed: 0'], axis = 1,inplace=True)

In [5]:
df['price for one'] = df['price for one'].str.replace(r'\D', '')

<ipython-input-5-2c4d99ddd195>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['price for one'] = df['price for one'].str.replace(r'\D', '')

In [6]:
df['price for one'].astype(str).astype(int)

0      200
1      200
2      200
3      200
4      200
      ...
929    100
930    100
931    100
932    100
933    100
Name: price for one, Length: 934, dtype: int64

In [7]:
df['ratings'] = df['ratings'].replace(r'-', np.NaN, regex=True)

In [8]:
df['ratings'] = df['ratings'].replace(r'New', np.NaN, regex=True)

In [9]:
df['ratings'].astype(str).astype(float)

0      3.9
1      3.8
2      4.4
3      4.2
4      4.0
      ...
929    4.3
930    4.0
931    4.0
932    4.3
933    3.9
Name: ratings, Length: 934, dtype: float64

In [10]:
df.columns

Index(['links', 'names', 'ratings', 'price for one', 'crusine', 'Veg_menu',
       'Non_veg_menu', 'Delivery_Reviews', 'No_Delivery_Reviews'],
      dtype='object')

# removing duplicates

In [11]:
duplicate = df[df.duplicated(['names', 'crusine'])]

In [12]:
index_names = duplicate.index
print(index_names)

Int64Index([355, 437, 511, 597, 625, 702, 841, 846, 876, 880, 899, 912, 914], dtype='int64')

In [13]:
df.drop(index_names, inplace = True)

In [14]:
duplicates = df[df.duplicated(['names', 'crusine'])]  # to chech dupicates have been removed
print(duplicates)

Empty DataFrame
Columns: [links, names, ratings, price for one, crusine, Veg_menu, Non_veg_menu, Delivery_Reviews, No_Delivery_Reviews]
Index: []

In [15]:
df.reset_index(inplace = True, drop = True)

## converting crusines into list

In [16]:
list_1 =  df.iloc[:2,-5:-4]
print(list_1)

                              crusine
0      North Indian, Chinese, Biryani
1  Continental, North Indian, Biryani

In [17]:
for i in range(len(df['crusine'])+1):
    list_of_crusines = df.iloc[:i,-5:-4].values.tolist()

In [18]:
df['crusines'] = list_of_crusines

In [19]:
df.drop(['crusine'], axis = 1,inplace=True)

In [20]:
mid = df['crusines']
df.drop(labels=['crusines'], axis=1, inplace = True)
df.insert(4, 'crusines', mid)

In [21]:
df.reset_index(inplace = True, drop = True)

## Removing K

In [22]:
#df['No_Delivery_Reviews'].replace(r'-', np.nan, inplace=True)

In [23]:
df['Delivery_Reviews'].replace(0, np.nan, inplace=True)

In [24]:
df["Indexes"] = df["No_Delivery_Reviews"].str.contains('K')

In [25]:
fkk = df["Indexes"].index
print(df["Indexes"])

0      False
1       True
2      False
3       True
4      False
       ...
916    False
917    False
918    False
919    False
920    False
Name: Indexes, Length: 921, dtype: object

In [26]:
df['Indexes'][1]

True

In [27]:
index = []
for i in range(0,len(df['Indexes'])):
    if df['Indexes'][i] == True:
        index.append(i)
        print(i)

1
3
5
7
15
22
24
30
31
32
53
72
73
76
103
104
105
106
107
121
213
215
216
224
242
291
294
298
435
443
605

In [28]:
a = df.loc[index,'No_Delivery_Reviews']
print(a)

1        16K
3      14.2K
5      16.6K
7      12.7K
15     19.5K
22     14.3K
24     31.7K
30     33.1K
31     12.8K
32       27K
53     29.7K
72     15.6K
73     17.4K
76     15.1K
103    14.4K
104    27.8K
105      12K
106    13.5K
107    17.4K
121      14K
213    15.9K
215    20.2K
216      11K
224    11.2K
242    14.8K
291    18.8K
294    13.2K
298    19.2K
435    10.7K
443    15.2K
605    20.3K
Name: No_Delivery_Reviews, dtype: object

In [40]:
df.Val = df['No_Delivery_Reviews']
try:
    df.Val = df.Val.replace(r'[K]+$', '', inplace=True,regex=True).astype(float) * \
              df.Val.str.extract(r'[\d\.]+([K]+)', expand=False).fillna(1).replace(['K','M'], [10**3]).astype(int)
except AttributeError:
    pass

In [41]:
df['No_Delivery_Reviews']

0         29
1         16
2      1,830
3       14.2
4      1,918
       ...
916       98
917    3,615
918      575
919      255
920       60
Name: No_Delivery_Reviews, Length: 921, dtype: object

In [31]:
df.reset_index(inplace = True, drop = True)

# removing empty menu

In [32]:
dict_Veg_menu = df["Veg_menu"]
empty_Veg_menu = []
for i in range(len(df['Veg_menu'])):
    try:
        del dict_Veg_menu[i]['Recommended']
    except KeyError:
        empty_Veg_menu.append(i)
        pass

In [33]:
dict_Non_veg_menu = df["Non_veg_menu"]
empty_index = []
for i in range(len(df['Non_veg_menu'])):
    try:
        del dict_Non_veg_menu[i]['Recommended']
    except KeyError:
        empty_index.append(i)
        pass

In [34]:
df.drop(df.index[empty_index], axis=0,inplace=True)

In [35]:
df.reset_index(inplace = True, drop = True)

## Exporting

In [42]:
df.to_csv('final.json')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   links                921 non-null    object
 1   names                921 non-null    object
 2   ratings              801 non-null    object
 3   price for one        921 non-null    object
 4   crusines             921 non-null    object
 5   Veg_menu             921 non-null    object
 6   Non_veg_menu         921 non-null    object
 7   Delivery_Reviews     885 non-null    object
 8   No_Delivery_Reviews  921 non-null    object
 9   Indexes              885 non-null    object
dtypes: object(10)
memory usage: 72.1+ KB

# tasks done
### 1. removed unwanted columns 
### 2. change data types of ratings and cost
### 3. removed all duplicated based on crusines 
### 4. convert crusines into list
### 5. convert k into 1000 ( need to put it into new column)
### 6. removed recomended from the and empty dicts.

In [38]:
df

,links,names,ratings,price for one,crusines,Veg_menu,Non_veg_menu,Delivery_Reviews,No_Delivery_Reviews,Indexes
0,https://www.zomato.com/bangalore/big-bowl-comp...,Big Bowl Company,3.9,200,"[North Indian, Chinese, Biryani]",{'Chef's Specials': {'Fried Pizza Momo (5 Pcs)...,{'Chef's Specials': {'Spicy Butter Chicken Ric...,3.9,29,False
1,https://www.zomato.com/bangalore/freshmenu-ric...,FreshMenu,3.8,200,"[Continental, North Indian, Biryani]",{'Today's Exclusive Dishes': {'Junglee Paneer ...,{'Today's Exclusive Dishes': {'Cheesy Meatball...,3.8,16K,True
2,https://www.zomato.com/bangalore/smoor-koraman...,SMOOR,4.4,200,"[Italian, Cafe, Pizza, Fast Food, Thai, Desser...","{'Breakfast': {'Bircher Muesli': [0, 1, 0]}, '...","{'Breakfast': {'Brioche French Toast': [0, 0, ...",4.4,"1,830",False
3,https://www.zomato.com/bangalore/leon-grill-st...,Leon Grill,4.2,200,"[Burger, Wraps, Fast Food, Beverages]","{'Leon Burgers': {'Veggie Jumbo Burger': [0, 0...",{'Leon Burgers': {'Mini Chicken Fillet Burger'...,4.2,14.2K,True
4,https://www.zomato.com/bangalore/falahaar-kota...,Falahaar & Kota Kachori,4.0,200,"[Rajasthani, Fast Food, Street Food, Mithai]","{'Snacks': {'Kota Kachori Piece': [0, 0, 1], '...","{'Snacks': {}, 'Desserts': {}, 'Main Course': ...",4.0,"1,918",False
...,...,...,...,...,...,...,...,...,...,...
821,https://www.zomato.com/bangalore/yauatcha-mg-r...,Yauatcha,4.3,100,"[Chinese, Asian]","{'Soups': {'Vegetarian Sweet Corn Soup': [0, 0...","{'Soups': {'Chicken Sweet Corn Soup': [0, 0, 0...",4.3,98,False
822,https://www.zomato.com/bangalore/delhi-highway...,Delhi Highway,4.0,100,"[Modern Indian, North Indian, Mughlai]","{'Mithai by Kilo': {'Jalebi With Rabdi': [0, 0...","{'Mithai by Kilo': {}, 'Delhi Highway Combos':...",3.9,"3,615",False
823,https://www.zomato.com/bangalore/raidan-restau...,Raidan Restaurant,4.0,100,"[Arabian, Chinese, Fast Food, North Indian, So...","{'Meals': {}, 'Soups and Salads': {'Veg Hansoo...","{'Meals': {'Chicken Hot Peal Meal': [0, 0, 0],...",4.0,575,False
824,https://www.zomato.com/bangalore/s-m-v-snacks-...,S M V Snacks Corner,4.3,100,"[Desserts, Chinese, Fast Food]","{'Chinese': {'Manchurian': [0, 0, 0], 'Chilli ...","{'Chinese': {}, 'Fried Rice and Noodles': {}, ...",4.3,255,False
825,https://www.zomato.com/bangalore/brahmins-that...,Brahmin's Thatte Idli,3.9,100,[South Indian],{'Idli': {'Brahmins Thatte Idli [1 Piece]': [1...,"{'Idli': {}, 'Combo': {}, 'Dosa': {}, 'Bhath':...",3.9,60,False